Repository oxidecomputer/omicron, pull requests merged in 2022-12, with the labels that each got.

#1957 v1 instance APIs as per RFD-322
  common/src/api/external/mod.rs
  nexus/src/app/instance.rs
  nexus/src/app/project.rs
  nexus/src/app/sagas/instance_create.rs
  nexus/src/external_api/http_entrypoints.rs
  nexus/tests/integration_tests/endpoints.rs
  nexus/tests/integration_tests/instances.rs
  nexus/tests/integration_tests/unauthorized.rs
  nexus/tests/integration_tests/unauthorized_coverage.rs
  nexus/tests/output/nexus_tags.txt
  nexus/tests/output/uncovered-authz-endpoints.txt
  nexus/types/src/external_api/params.rs
  openapi/nexus.json
Labels: :zap: api

#1970 [bootstrap][sled-agent] Launch the switch zone earlier
  Cargo.lock
  sled-agent/Cargo.toml
  sled-agent/src/bootstrap/agent.rs
  sled-agent/src/bootstrap/hardware.rs
  sled-agent/src/bootstrap/mod.rs
  sled-agent/src/bootstrap/params.rs
  sled-agent/src/illumos/running_zone.rs
  sled-agent/src/lib.rs
  sled-agent/src/server.rs
  sled-agent/src/services.rs
  sled-agent/src/sled_agent.rs
  sled-agent/src/smf_helper.rs
Labels: :globe_with_meridians: networking, 🛷 Sled Agent, 🥾 bootstrap services

#2056 [nexus] Remove project_id, rack_id from IP pools
  common/src/sql/dbinit.sql
  end-to-end-tests/src/bin/bootstrap.rs
  nexus/db-model/src/external_ip.rs
  nexus/db-model/src/ip_pool.rs
  nexus/db-model/src/project.rs
  nexus/db-model/src/schema.rs
  nexus/src/app/ip_pool.rs
  nexus/src/app/sagas/disk_create.rs
  nexus/src/app/sagas/instance_create.rs
  nexus/src/db/datastore/external_ip.rs
  nexus/src/db/datastore/ip_pool.rs
  nexus/src/db/datastore/mod.rs
  nexus/src/db/datastore/project.rs
  nexus/src/db/queries/external_ip.rs
  nexus/src/db/queries/ip_pool.rs
  nexus/src/external_api/http_entrypoints.rs
  nexus/src/populate.rs
  nexus/test-utils/src/resource_helpers.rs
  nexus/tests/integration_tests/disks.rs
  nexus/tests/integration_tests/endpoints.rs
  nexus/tests/integration_tests/instances.rs
  nexus/tests/integration_tests/ip_pools.rs
  nexus/tests/integration_tests/projects.rs
  nexus/tests/integration_tests/snapshots.rs
  nexus/tests/integration_tests/subnet_allocation.rs
  nexus/tests/integration_tests/unauthorized.rs
  nexus/tests/integration_tests/volume_management.rs
  nexus/tests/integration_tests/vpc_subnets.rs
  nexus/tests/output/nexus_tags.txt
  nexus/types/src/external_api/params.rs
  nexus/types/src/external_api/views.rs
  openapi/nexus.json
Labels: :zap: api, 🧠 nexus

#2101 [docs][nexus] Document the process for adding new endpoints
  docs/adding-an-endpoint.adoc
Labels: :memo: documentation, 🧠 nexus
