Repository oxidecomputer/omicron, pull requests merged in 2022-07, with the labels that each got.

#1386 Use DNS to access Nexus IP from Sled Agent
  common/src/backoff.rs
  sled-agent/src/instance.rs
  sled-agent/src/instance_manager.rs
  sled-agent/src/nexus.rs
  sled-agent/src/server.rs
  sled-agent/src/sled_agent.rs
  sled-agent/src/storage_manager.rs
Labels: 🛷 Sled Agent

#1347 Connect Crucible stats through Propolis to Oximeter
  Cargo.lock
  nexus/Cargo.toml
  nexus/src/app/sagas/disk_create.rs
  openapi/sled-agent.json
  package-manifest.toml
  sled-agent/Cargo.toml
  sled-agent/src/instance.rs
Labels: :vhs: storage, 🛷 Sled Agent, Remote Access Preview

#1348 add disk metrics endpoint
  Cargo.lock
  nexus/src/app/oximeter.rs
  nexus/src/external_api/http_entrypoints.rs
  nexus/test-utils/src/lib.rs
  nexus/test-utils/src/resource_helpers.rs
  nexus/tests/integration_tests/disks.rs
  nexus/tests/integration_tests/endpoints.rs
  nexus/tests/integration_tests/oximeter.rs
  nexus/tests/integration_tests/subnet_allocation.rs
  nexus/tests/output/nexus_tags.txt
  nexus/types/src/external_api/params.rs
  openapi/nexus.json
  oximeter/db/src/bin/oxdb.rs
  oximeter/db/src/client.rs
  oximeter/db/src/lib.rs
  sled-agent/Cargo.toml
  sled-agent/src/sim/collection.rs
  sled-agent/src/sim/disk.rs
  sled-agent/src/sim/instance.rs
  sled-agent/src/sim/server.rs
  sled-agent/src/sim/simulatable.rs
  sled-agent/src/sim/sled_agent.rs
Labels: :zap: api, 🧠 nexus, Remote Access Preview

#1521 Remove internal nexus_address from sled agent
  sled-agent/src/config.rs
  smf/sled-agent/config.toml
Labels: 🛷 Sled Agent
