Repository oxidecomputer/omicron, pull requests merged in 2023-03, with the labels that each got.

#2412 [sled agent] RSS no longer provisions datasets on M.2 devices
  openapi/sled-agent.json
  sled-agent/src/params.rs
  sled-agent/src/rack_setup/plan/service.rs
  sled-agent/src/sled_agent.rs
  sled-agent/src/storage_manager.rs
Labels: storage, Sled Agent, bootstrap services

#2299 Propagate physical CPU count and RAM size up to Nexus
  Cargo.lock
  common/src/sql/dbinit.sql
  nexus/db-model/src/lib.rs
  nexus/db-model/src/schema.rs
  nexus/db-model/src/sled.rs
  nexus/db-model/src/unsigned.rs
  nexus/db-queries/src/db/datastore/mod.rs
  nexus/db-queries/src/db/datastore/physical_disk.rs
  nexus/db-queries/src/db/datastore/rack.rs
  nexus/src/app/sled.rs
  nexus/types/src/external_api/views.rs
  nexus/types/src/internal_api/params.rs
  openapi/nexus-internal.json
  openapi/nexus.json
  sled-agent/Cargo.toml
  sled-agent/src/sim/server.rs
  sled-agent/src/sled_agent.rs
  sled-hardware/Cargo.toml
  sled-hardware/src/illumos/mod.rs
  sled-hardware/src/illumos/sysconf.rs
  sled-hardware/src/non_illumos/mod.rs
Labels: Sled Agent, nexus

#2089 Integrate SoftNPU as virtual hardware
  .github/buildomat/jobs/build-and-test-linux.sh
  .github/buildomat/jobs/build-and-test.sh
  .github/buildomat/jobs/build-end-to-end-tests.sh
  .github/buildomat/jobs/clippy.sh
  .github/buildomat/jobs/deploy.sh
  .github/buildomat/jobs/package.sh
  .gitignore
  Cargo.lock
  Cargo.toml
  README.adoc
  common/src/nexus_config.rs
  docs/boundary-services-a-to-z.adoc
  docs/how-to-run.adoc
  docs/plumbing.png
  dpd-client/Cargo.toml
  dpd-client/build.rs
  dpd-client/src/lib.rs
  illumos-utils/src/opte/illumos/mod.rs
  illumos-utils/src/opte/illumos/port_manager.rs
  illumos-utils/src/opte/non_illumos/port_manager.rs
  illumos-utils/src/running_zone.rs
  illumos-utils/src/zone.rs
  nexus/Cargo.toml
  nexus/examples/config.toml
  nexus/src/app/mod.rs
  nexus/src/app/sagas/instance_create.rs
  nexus/src/app/sagas/instance_delete.rs
  nexus/tests/config.test.toml
  package-manifest.toml
  package/src/bin/omicron-package.rs
  package/src/target.rs
  sled-agent/src/bootstrap/hardware.rs
  sled-agent/src/config.rs
  sled-agent/src/instance.rs
  sled-agent/src/instance_manager.rs
  sled-agent/src/params.rs
  sled-agent/src/services.rs
  sled-agent/src/sled_agent.rs
  sled-agent/src/storage_manager.rs
  sled-hardware/Cargo.toml
  sled-hardware/src/illumos/mod.rs
  sled-hardware/src/lib.rs
  sled-hardware/src/non_illumos/mod.rs
  smf/nexus/config-partial.toml
  smf/sled-agent/non-gimlet/config.toml
  tools/ci_download_dendrite_openapi
  tools/create_virtual_hardware.sh
  tools/dendrite_openapi_version
  tools/destroy_virtual_hardware.sh
  tools/install_builder_prerequisites.sh
  tools/install_softnpu_machinery.sh
  tools/scrimlet/create-softnpu-zone.sh
  tools/scrimlet/destroy-softnpu-zone.sh
  tools/scrimlet/softnpu-init.sh
  tools/scrimlet/softnpu-zone.txt
  tools/scrimlet/softnpu.toml
  tools/setup_path.sh
Labels: networking
