Repository oxidecomputer/omicron, pull requests merged in 2023-05, with the labels that each got.

#2946 [sled-agent] Refactor service management out of `StorageManager`
  illumos-utils/src/running_zone.rs
  illumos-utils/src/zpool.rs
  openapi/sled-agent.json
  sled-agent/src/bootstrap/hardware.rs
  sled-agent/src/http_entrypoints.rs
  sled-agent/src/lib.rs
  sled-agent/src/params.rs
  sled-agent/src/rack_setup/plan/service.rs
  sled-agent/src/services.rs
  sled-agent/src/sled_agent.rs
  sled-agent/src/storage/dataset.rs
  sled-agent/src/storage/mod.rs
  sled-agent/src/storage_manager.rs
Labels: storage, Sled Agent

#2955 [RSS] Require an explicit set of Bootstrap Agents
  openapi/bootstrap-agent.json
  sled-agent/src/bootstrap/params.rs
  sled-agent/src/rack_setup/config.rs
  sled-agent/src/rack_setup/plan/sled.rs
  sled-agent/src/rack_setup/service.rs
  smf/sled-agent/gimlet-standalone/config-rss.toml
  smf/sled-agent/non-gimlet/config-rss.toml
Labels: Sled Agent, bootstrap services

#3234 [sled-agent] Delay nexus hw notifications
  sled-agent/src/storage_manager.rs
Labels: Sled Agent
