Repository oxidecomputer/omicron, pull requests merged in 2024-03, with the labels that each got.

#5202 Teach `omdb db network list-eips` and `DataStore::vpc_resolve_to_sleds` about blueprints
  dev-tools/omdb/src/bin/omdb/db.rs
  nexus/db-model/src/inventory.rs
  nexus/db-model/src/schema.rs
  nexus/db-queries/src/db/datastore/deployment.rs
  nexus/db-queries/src/db/datastore/vpc.rs
  nexus/db-queries/src/db/lookup.rs
Labels: Update System

#5158 sled-agent needs to deal with SSD overprovisioning
  Cargo.lock
  Cargo.toml
  sled-hardware/Cargo.toml
  sled-hardware/src/disk.rs
  sled-hardware/src/illumos/mod.rs
  sled-hardware/src/illumos/partitions.rs
  sled-hardware/src/non_illumos/mod.rs
  test-utils/src/dev/mod.rs
Labels: Sled Agent

#5260 zone bundle tests fail on ZFS pool with 4K sectors (ashift=12)
  sled-agent/src/zone_bundle.rs
Labels: Test Flake

#5308 'List all' -> 'List' in API endpoint summaries
  nexus/src/external_api/http_entrypoints.rs
  openapi/nexus.json
Labels: api
